#nav-brand {
    display: flex;
    align-items: center;

    span {
        margin-left: 0.3rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
        font-size: 1.7rem;
    }
}