.react-datepicker__close-icon {
    &::after {
        background-color: transparent !important;
        color: #7f7f7f !important;
        font-size: 24px !important;
        display: table;
        margin-right: 5px;
    }
}